---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Página de inicio";
import Scene3D from "../components/Scene3D.astro";


---


<BaseLayout pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
  <Scene3D />
</BaseLayout>
